/* 폰트 */

@import url("https://googledrive.com/host/0BxmAw3HA4YGCflRiaUxHOFVCcXVfWmpqeERVZ3AzcDAtM2FRV25XclJDRnVrTVVqamZJcEE/notokr-thin.css");
@import url("https://googledrive.com/host/0BxmAw3HA4YGCfk5lRk1WVjhQWVRHRldCVEw0TU1qMHhvNEdfM1E0cjZ1Z2ZHRDFfcWRVSDA/notokr-light.css");
@import url("https://googledrive.com/host/0BxmAw3HA4YGCfnV0d3J5S21BSFdGUXctekQ1eHJoczF2OUcyTGZna3laMlg2MWR6cWoyV1E/notokr-bold.css");

@import url("pc1600.css");
@import url("pc960.css");
@import url("tb768.css");
@import url("mb480.css");
@import url("nav.css");

/*.notokr-bold { font-family:notokr-bold !important; }
.notokr-light { font-family:notokr-light !important; }
.notokr-thin { font-family:notokr-thin !important; }
*/
@font-face {
    font-family:'notoLight';
    src:url('../../font/NotoSansCJKkr-Light.otf.eot');
    src:url('../../font/NotoSansCJKkr-Light.otf.eot')format('eot?') format('eot');
    src:url('../../font/NotoSansCJKkr-Light.woff')format('woff');
    src:url('※'),url('../../font/NotoSansCJKkr-Light.otf')format('opentype');
    
}

*{font-family:notoLight;}

/* 
====================================================================
맨위로
====================================================================
*/

#top{width: 50px; height: 50px; border-radius: 10px; background-color: rgba(0, 0, 0, 0.4); position:fixed; bottom:30px; right:30px; z-index: 1000;}
#top>i{font-size: 30px; color: #fff; text-align: center; line-height: 50px; display: block;}

/* 
====================================================================
팝업창
====================================================================
*/

#popupBox1{width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); position: fixed; z-index: 100; top: 0; left: 0;}
.popup{width: 500px; height: 500px; background-color:rgba(255,255,255,0.7); position:absolute; top: 50%; left:50%; margin-left:-250px; margin-top:-250px;}
.popup>button{width:30px; height:30px; background-color:#333; position: absolute; top: -15px; right: -15px; cursor: pointer; z-index: 100;}
.popup>button>i{font-size: 20px; color:#fff; }
.popup>button>span{width: 0; height: 0; display: block; overflow: hidden;}
.contentPopup{width: 100%; height: 100%;}




/* 
====================================================================
   1279px - 1024px
====================================================================
*/

@media screen and (max-width: 1279px){

/* 
====================================================================
    menu
====================================================================
*/

nav{width:100%; height:204px; margin:0;}
nav>ul{width: 100%; height: 100%; display:none;}
nav>ul li{width:100%; height: 34px; display: block; background-color: #40487c; border-bottom: 1px solid  #777B98; box-sizing:border-box;}
nav>ul li>a{transition:all 0.2s; font-size: 16px; color: #fff;}
nav>ul li>a:hover{background-color: #fff; color: #40487c; font-size: 16px;} 
    
#trigger{display:block; width: 35px; height: 24px; float: right; position: absolute; top: 28px; right: 40px; cursor: pointer;}
#trigger.on .one {transform: rotate(45deg) translate(7px, 7px);}
#trigger.on .two {opacity: 0;}
#trigger.on .three {transform: rotate(-45deg) translate(7px, -7.5px);}
.one,.two,.three {width: 100%; height: 4px; background: white; margin-top:6px; backface-visibility: hidden; transition-duration: 0.3s; background-color: #40487c;}
.one{margin-top: 0;}
    
    
}










